/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/laradock/.idea
/laradock/logs
/laradock/data
/laradock/.project
/laradock/.docker-sync
/laradock/jenkins/jenkins_home
.env
vendor